* {
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: PingFangSC, PingFang SC, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  /*min-height: 100vh;*/
  background-color: rgb(250, 250, 252);
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none !important;
  cursor: pointer;
  outline: none;
}

input {
  outline: none;
  border: none;
  user-select: text;
}

input::-webkit-search-cancel-button {
  display: none;
}

input::-webkit-input-placeholder {
  color: #acacac;
  font-weight: 400;
}

input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.clearfix:after {
  content: " ";
  display: block;;
  line-height: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}

:root {
  --adm-color-primary: #FF375F !important;
}

#nprogress .bar {
  background: $theme_color;
}

#nprogress .peg {
  box-shadow: 0 0 10px $theme_color, 0 0 5px $theme_color;
}

#nprogress .spinner {
  display: none;
}
